h1, #brushes, #frames, #paint, #blue {
    font-family: Helvetica;
    font-weight: bold;
h1 {
    font-size: 100px;
    color: khaki;
    text-align:center;
    background-image: url('pattern1.webp');
}
.brushes h2 {
    font-size: 32px;
    color: white;
    background-color: mediumspringgreen;
}
.frames h2 {
    font-size: 32px;
    color: white;
    background-color: lightcoral;
}
.paint h2 {
    font-size: 32px;
    color: white;
    background-color: skyblue;
}
#blue {
    color: blue;
}
p {
    font-family: Helvetica;
}
